::-webkit-scrollbar
{
	width: 8px;
	background-color: white;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f56565;
}

/* #dark{
	background-image: url(./MyComponents/sun.svg);
	background-repeat: no-repeat;
	background-position: center;
} */

.light_icon{
  
	background-color: #d6d6d6;
  
	background-image:url(./MyComponents/moon.svg) ;
	background-repeat: no-repeat;
	background-position: center;
  }
  
.dark_icon{
	background-color: #e5e7eb;


	  background-image:url(./MyComponents/sun.svg) ;
	  background-repeat: no-repeat;
	  background-position: center;
  }